<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>teleSUR EN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>teleSUR Multimedia EN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>teleSUR Multimedia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>teleSUR copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>teleSUR.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>teleSURTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15371EDD1728E3B400A508F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15371F071728E3B400A508F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC18AFB61AF0512000C3DAD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC7E90171AEF4F0D004A3813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC7E90321AEF4F0E004A3813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC87423F19ABE88000B895B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC87425519ABE88000B895B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCA0BFD619AC02B600BCB087</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD4504119A84D4B00EC1DAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD4506019A84D4C00EC1DAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD4507819A84DF300EC1DAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD4508E19A84DF300EC1DAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCF63A3019937B8F00960D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
