<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>es</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon120.png</string>
				<string>icon152.png</string>
				<string>icon76.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>20</string>
	<key>Configuración</key>
	<dict>
		<key>API URL Base</key>
		<string>http://multimedia.tlsur.net/</string>
		<key>APPtype</key>
		<string>complete</string>
		<key>Filtros Extra Menú Programas</key>
		<array>
			<dict>
				<key>nombre</key>
				<string>Reportajes teleSUR</string>
				<key>slug</key>
				<string>reportaje</string>
			</dict>
			<dict>
				<key>nombre</key>
				<string>Documentales</string>
				<key>slug</key>
				<string>documental</string>
			</dict>
		</array>
		<key>Secciones de Búsqueda</key>
		<array>
			<dict>
				<key>Filas</key>
				<array>
					<dict>
						<key>Entidad</key>
						<string>texto</string>
						<key>Nombre</key>
						<string>Texto</string>
						<key>Todos</key>
						<string></string>
					</dict>
				</array>
				<key>Header</key>
				<string>Búsqueda de texto</string>
			</dict>
			<dict>
				<key>Filas</key>
				<array>
					<dict>
						<key>Entidad</key>
						<string>categoria</string>
						<key>Nombre</key>
						<string>Sección</string>
						<key>Todos</key>
						<string>Cualquiera</string>
					</dict>
					<dict>
						<key>Entidad</key>
						<string>tema</string>
						<key>Nombre</key>
						<string>Tema</string>
						<key>Todos</key>
						<string>Cualquiera</string>
					</dict>
				</array>
				<key>Header</key>
				<string>Clasificación</string>
			</dict>
			<dict>
				<key>Filas</key>
				<array>
					<dict>
						<key>Entidad</key>
						<string>ubicacion</string>
						<key>Nombre</key>
						<string>Región</string>
						<key>Todos</key>
						<string>Cualquiera</string>
					</dict>
					<dict>
						<key>Entidad</key>
						<string>pais</string>
						<key>Nombre</key>
						<string>País</string>
						<key>Todos</key>
						<string>Todos</string>
					</dict>
				</array>
				<key>Header</key>
				<string>Ubicación</string>
			</dict>
			<dict>
				<key>Filas</key>
				<array>
					<dict>
						<key>Entidad</key>
						<string>personaje</string>
						<key>Nombre</key>
						<string>Personajes</string>
						<key>Todos</key>
						<string>Todos</string>
					</dict>
					<dict>
						<key>Entidad</key>
						<string>corresponsal</string>
						<key>Nombre</key>
						<string>Corresponsal</string>
						<key>Todos</key>
						<string>Todos</string>
					</dict>
				</array>
				<key>Header</key>
				<string>Personas</string>
			</dict>
		</array>
		<key>Streaming URL Alta</key>
		<string>http://streaming.openmultimedia.biz:1935/blive/ngrp:balta.stream_all/playlist.m3u8</string>
		<key>Streaming URL Media</key>
		<string>http://streaming.openmultimedia.biz:1935/blive/ngrp:balta.stream_all/playlist.m3u8</string>
		<key>Ubicaciones</key>
		<array>
			<dict>
				<key>nombre</key>
				<string>Latinoamérica</string>
				<key>slug</key>
				<string>america-latina</string>
			</dict>
			<dict>
				<key>nombre</key>
				<string>América</string>
				<key>slug</key>
				<string>america</string>
			</dict>
			<dict>
				<key>nombre</key>
				<string>Asia</string>
				<key>slug</key>
				<string>asia</string>
			</dict>
			<dict>
				<key>nombre</key>
				<string>Europa</string>
				<key>slug</key>
				<string>europa</string>
			</dict>
			<dict>
				<key>nombre</key>
				<string>África</string>
				<key>slug</key>
				<string>africa</string>
			</dict>
			<dict>
				<key>nombre</key>
				<string>Oceanía</string>
				<key>slug</key>
				<string>oceania</string>
			</dict>
		</array>
		<key>langCode</key>
		<string>es</string>
		<key>livestream</key>
		<string>active</string>
		<key>livestreamEnabled</key>
		<true/>
		<key>localeID</key>
		<string>es_MX</string>
		<key>principalMenuSections</key>
		<array>
			<string>home</string>
			<string>noticias</string>
			<string>video</string>
			<string>opinion</string>
			<string>blog</string>
			<string>programa</string>
			<string>reportaje</string>
			<string>buscar</string>
			<string>config</string>
			<string>acerca</string>
		</array>
		<key>submenuNewsSections</key>
		<array>
			<string>portada</string>
			<string>ultimas</string>
			<string>latinoamerica</string>
			<string>mundo</string>
			<string>deportes</string>
			<string>cultura</string>
		</array>
		<key>submenuVideoSections</key>
		<array>
			<string>latinoamerica</string>
			<string>mundo</string>
			<string>deportes</string>
			<string>cultura</string>
			<string>salud</string>
			<string>ciencia-y-tecnologia</string>
		</array>
		<key>videoMenuSubsections</key>
		<array>
			<string>video-noticia</string>
			<string>entrevista</string>
			<string>especial-web</string>
			<string>infografia</string>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>media-telesur.openmultimedia.biz</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>multimedia.tlsur.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>static.telesurtv.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>streaming.openmultimedia.biz</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>www.telesurtv.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Pushwoosh_APPID</key>
	<string>A00C5-B191F</string>
	<key>UIAppFonts</key>
	<array>
		<string>PTF55F.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BoldCondensedItalic.ttf</string>
		<string>Roboto-BoldCondensed.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard_iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
